<mx-topbar (applyFilter)="applyFilter($event)"></mx-topbar>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Species</th>
      <th scope="col">Gender</th>
      <th scope="col">Homeworld</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="characters?.total; else no_data">
    <tr mx-list-item-view 
      *ngFor="let character of characters.data"
      [character]="character"
      (remove)="deleteItem($event)">
    </tr>
  </tbody>
  <ng-template #no_data>
    <tr>
      <td colspan="6">
        <span class="mx-message">No characters available</span>
      </td>
    </tr>
  </ng-template>
</table>
<mx-pagination *ngIf="characters?.data.length"
  [currentPage]="listState.currentPage" 
  [pageSize]="listState.pageSize"
  [total]="characters?.total"
  (pageChanged)="pageChanged($event)">
</mx-pagination>