<div class="form-group">
  <label for="search-input" class="sr-only">Search</label>
  <input type="text" 
    class="form-control" 
    id="search-input" 
    placeholder="Search..."
    (keyup)="searchTerm$.next($event.target.value)">
</div>
