<nav aria-label="Data grid navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item" 
      [class.disabled]="isFirstPage"
      id="mx-previous-button"
      (click)="changePage(currentPage-1)">
      <a class="page-link" tabindex="-1">Previous</a>
    </li>
    <li *ngFor="let page of pages"
      class="page-item mx-item-number-button"
      (click)="changePage(page)"
      [class.active]="page === currentPage">
      <a class="page-link">{{page}}
        <span *ngIf="page === currentPage" class="sr-only">(current)</span>
      </a>
    </li>
    <li class="page-item"
      [class.disabled]="isLastPage"
      id="mx-next-button"
      (click)="changePage(currentPage+1)">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>
