<th scope="row">{{character.id}}</th>
<td>{{character.name}}</td>
<td>{{character.species}}</td>
<td>{{character.gender}}</td>
<td>{{character.homeworld}}</td>
<td>
  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
    <a [routerLink]="['edit', character.id]" class="btn btn-secondary" id="mx-edit-anchor">
      <i class="fa fa-pencil" aria-hidden="true"></i> Edit
    </a>
    <button (click)="remove.emit(character.id)" type="button" class="btn btn-danger" id="mx-remove-button">
      <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
    </button>
  </div>
</td>
