<div class="row">
  <div class="col-sm-6">
    <mx-search (applyFilter)="applyFilter.emit($event)"></mx-search>
  </div>
  <div class="col-sm-6 text-sm-right">
    <a [routerLink]="['add']" class="btn btn-primary mb-3" id="mx-add-anchor">Add New</a>
  </div>
</div>