<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <a class="navbar-brand" routerLink="">Maxim - demo app</a>
  <button class="navbar-toggler" type="button"
    (click)="isOpen = !isOpen"
    [class.collapsed]="!isOpen"
    [attr.aria-expanded]="isOpen"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="isOpen">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">List View
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
