<form [formGroup]="characterForm"
  [class.was-validated]="submittedInvalid"
  (ngSubmit)="submit(characterForm)"
  #formElement>
  <div class="form-group row">
    <label for="name-input" class="col-md-2 col-form-label">
      Name
      <span class="mx-asterisk--highlighted">*</span>
    </label>
    <div class="col-md-10">
      <input type="text" class="form-control"
        [class.is-invalid]="name.invalid && name.touched"
        formControlName="name" id="name-input" placeholder="Type in name here..." required />
      <div class="invalid-feedback">
        This field is required.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="species-input" class="col-md-2 col-form-label">
      Species
      <span class="mx-asterisk--highlighted">*</span>
    </label>
    <div class="col-md-10">
      <select class="form-control" formControlName="species" id="species-input"
        [class.is-invalid]="species.invalid && species.touched" required>
          <option *ngFor="let species of speciesDictionary" [ngValue]="species">{{species}}</option>
      </select>
      <div class="invalid-feedback">
        This field is required.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label">
      Gender
      <span class="mx-asterisk--highlighted">*</span>
    </label>
    <div class="col-md-10">
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" formControlName="gender" id="male-gender" value="male" name="gender" required>
        <label class="custom-control-label" for="male-gender">Male</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" formControlName="gender" id="female-gender" value="female" name="gender" required>
        <label class="custom-control-label" for="female-gender">Female</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" formControlName="gender" id="na-gender" value="n/a" name="gender" required>
        <label class="custom-control-label" for="na-gender">n/a</label>
        <div class="invalid-feedback">
          This field is required.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="homeworld-input" class="col-md-2 col-form-label">Homeworld</label>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="homeworld" id="homeworld-input" 
        placeholder="Type in homeworld here..." />
    </div>
  </div>
  <button class="btn btn-primary pull-right my-4" type="submit" [disabled]="loading">Submit character</button>
</form>
